<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sumario" value="Data Source=.\SQLEXPRESS;Initial Catalog=EHR;Integrated Security=True"/>
    <add key="BarraDor" value="Data Source=.\SQLEXPRESS;Initial Catalog=BarraDor;Integrated Security=True"/>
    <!--<add key="QuintaDor" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuintaDor;Integrated Security=True"/>-->
    <!--<add key="QuintaDor" value="Data Source=10.250.0.46/serv_quinta; User ID=admwpd;Password=admwpd"/>-->
    <add key="QuintaDor" value="Data Source=10.250.3.45/HMQUINTA; User ID=SUMARIO_ALTA;Password=SUMARIO_ALTA" />
    <add key="Copa" value="Data Source=10.250.10.218/HMLCOPA; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="BarraDor" value="Data Source=10.250.0.46/serv_barra; User ID=admwpd;Password=admwpd"/>
    <add key="QuintaDor" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuintaDor;Integrated Security=True"/>
    <add key="Ambiente" value="Test"/>
  </appSettings>
</configuration>