<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sumario" value="Data Source=.\SQLEXPRESS;Initial Catalog=EHR;Integrated Security=True"/>
    <add key="CopaDor" value="Data Source=.\SQLEXPRESS;Initial Catalog=Copador;Integrated Security=True"/>
    <!--<add key="QuintaDor" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuintaDor;Integrated Security=True"/>-->
    <add key="QuintaDor" value="Data Source=10.250.0.46/serv_quinta; User ID=admwpd;Password=admwpd"/>
    <add key="QuintaDorWorkker" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuintaDor;Integrated Security=True"/>
    <add key="Ambiente" value="Test"/>
  </appSettings>
</configuration>