<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="QuintaDor" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuintaDor;Integrated Security=True" />
    <add key="QuintaDorProd" value="Data Source=10.250.0.46/serv_quinta; User ID=admwpd;Password=admwpd" />-->
    
    <!--<add key="CAXIAS" value="Data Source=10.250.3.24/HMLCAXIAS; User ID=SUMARIO_ALTA_Caxias;Password=SUMARIO_ALTA" />
    <add key="JOARI" value="Data Source=10.250.3.24/bdhmlg; User ID=SUMARIO_ALTA;Password=SUMARIO_ALTA" />-->
    
    <add key="BarraDor" value="Data Source=10.250.10.218/HMLBARRA; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="SM" value="Data Source=10.250.3.11/HMSM; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Copa" value="Data Source=10.250.10.218/HMLCOPA; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Bangu" value="Data Source=10.250.10.218/HMBANGU; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Esperanca" value="Data Source=10.250.3.45/HMLESP; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Norte" value="Data Source=10.250.3.45/HMNORTE; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Rios" value="Data Source=10.250.3.45/HMRIOS; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Pronto" value="Data Source=172.29.8.119/HMPRONTO; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="QuintaDor" value="Data Source=10.250.3.45/HMQUINTA; User ID=SUMARIO_ALTA;Password=sumario_alta" />
    <add key="Sumario" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuintaDor;Integrated Security=True" />
    <add key="Ambiente" value="Console" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>